@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('/fonts/Akzidenz Grotesk/Akzidenz Grotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('/fonts/Akzidenz Grotesk/Akzidenz Grotesk-Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('/fonts/Akzidenz Grotesk/Akzidenz Grotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('/fonts/Akzidenz Grotesk/Akzidenz Grotesk-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('/fonts/Akzidenz Grotesk/Akzidenz Grotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('/fonts/Akzidenz Grotesk/Akzidenz Grotesk-Medium Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('/fonts/Akzidenz Grotesk/Akzidenz Grotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('/fonts/Akzidenz Grotesk/Akzidenz Grotesk-Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('/fonts/Akzidenz Grotesk/Akzidenz Grotesk-Super.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url('/fonts/Akzidenz Grotesk/Akzidenz Grotesk-Super Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: theme("colors.base");
    color: theme("colors.navy");
    font-family: theme("fontFamily.sans");
    overflow-x: hidden;
  }

  @media (pointer: fine) {

    body,
    * {
      cursor: none !important;
    }
  }

  ::selection {
    background-color: #d4e0ed22;
    color: theme("colors.navy");
  }
}

@layer utilities {
  .section-reveal {
    opacity: 0;
    transform: translateY(40px);
    transition:
      opacity 0.8s ease,
      transform 0.8s ease;
  }

  .section-reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}